body{
    background-image: url("../img/fondo-formulario.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    font-family: Arial, Helvetica, sans-serif;
}