@media(max-width:769px){
    .barra-navegacion{
        display: none;
    }
    .panel-admin{
        width: 100%;
        margin-top: 0;
    }

    
}

@media(max-width:1440px){
    
    .navegacion{
        margin-top: 30px;
    }
    .panel-admin{
        margin-top: 0;
    }
}