*{
    margin: 0px;
    padding: 0px;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;;

}

.header2{
    width: 100%;
    background-color: #353940;
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.logo2{
    width: 30%;
    display: flex;
    justify-content: flex-start;
   
    left: 0;
    margin-left: 0px;
}
.logo2 > h3{
    margin-left: 15px;
    line-height:35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.content{
    width: 100%;
    background-color: #3d69b5b2;
    min-height: 600px;
    height: auto;
}
.buscador{
    padding: 10px;
}
.camping{
    width: 75%;
    background-color: #587ab5b2;
    margin: 0px auto;
    display: flex;
    border: 1px solid rgb(109, 109, 109);
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.portada{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5px;
    
}
.portada > img{
    border-radius: 20px;
    width:250px; 
    height:250px;
}
.detalle{
    width: 60%;
    display: flex;
    flex-direction: column;
}